:root {
  --primary-color: #137dc5; /* Основной цвет */
  --secondary-color: #52595e; /* Вторичный цвет */
  --text-color: #333; /* Цвет текста */
  --background-color: #fff; /* Цвет фона */
  --accent-color: #ff9900; /* Акцентный цвет */
}
