@font-face {
  font-family: Nutino;
  src: url(/src/assets/font/Nunito-VariableFont_wght.ttf);
}

:root {
  font-family: Nutino;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin: var(--spacing-md) 0;
}

.active {
  color: var(--primary-color);
  pointer-events: none;
}

.overflow-hidden {
  overflow: hidden;
}
