:root {
  --spacing-xs: 4px; /* Минимальный отступ */
  --spacing-sm: 8px; /* Небольшой отступ */
  --spacing-md: 16px; /* Средний отступ */
  --spacing-lg: 24px; /* Большой отступ */
  --spacing-xl: 32px; /* Очень большой отступ */
  --spacing-xxl: 44px; /* Очень большой отступ */
  --spacing-xxxl: 62px; /* Очень большой отступ */
}
