.breadcrumb,
.disabled {
  font-size: 14px;
}

.disabled {
  color: rgb(153, 153, 153);
  user-select: none;
  pointer-events: none;
}

@media only screen and (max-width: 576px) {
  .breadcrumb,
  .disabled {
    font-size: 10px;
  }
}
