.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-color);
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  box-shadow: 0;
  transform: scale(0.95);
  transition:
    box-shadow 0.5s,
    transform 0.5s;
}

.product-card:hover {
  cursor: pointer;
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.product-img {
  height: 200px;
}
.product-img img {
  max-width: 100%;
  max-height: 100%;
}

.product-info {
  padding: var(--spacing-md);
}

.product-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}

.product-price {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  margin: var(--spacing-sm) 0;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

@media only screen and (max-width: 576px) {
  .product-info {
    font-size: 15px;
  }

  .product-description {
    font-size: 13px;
  }
}
