.categories {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0 var(--spacing-lg);
  margin-top: -30px;
  margin-bottom: var(--spacing-xl);
  opacity: 0;
  animation: fadeInBottom 1s ease 0.8s 1 normal forwards;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: var(--spacing-sm);
  padding: 5px 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: 18px;
  box-shadow: 0;
  transform: scale(0.95);
  transition:
    box-shadow 0.5s,
    transform 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1200px) {
  .card {
    font-size: 17px;
  }
}

@media only screen and (max-width: 992px) {
  .card {
    font-size: 15px;
  }
}

@media only screen and (max-width: 760px) {
  .categories {
    grid-template-columns: 1fr;
    margin-top: var(--spacing-xl);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
