.slick-track {
  display: flex !important;

  justify-content: center;
  align-items: center;
}

.slick-dots li button {
  background: rgba(0, 0, 0, 0.493) !important;
}

.slick-active button {
  background: black !important;
}

.ant-carousel {
  grid-area: ant-carousel;
  min-width: calc(65vw / 2);
}

.product-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center !important;
  margin: 15px 0;
  padding: 0;

  gap: 10px;
}

@media only screen and (max-width: 576px) {
  .product-container {
    flex-direction: column-reverse;
  }
}

.imgProduct {
  width: 300px;
  max-width: 350px;
}

.prodName {
  grid-area: prodName;
}

.prodDesc {
  grid-area: prodDesc;
}

.prodPrice {
  grid-area: prodPrice;
}

.someButtons {
  grid-area: someButtons;
  align-self: center;
  min-width: 70px !important;
}

.prodWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  justify-content: center;
  max-width: 500px;
}
