.form {
  margin: 0 auto;
  position: relative;
  right: 50px;
}

.check-address * {
  color: #858585;
}
.select-country {
  width: 250px;
}

@media only screen and (max-width: 768px) {
  .form {
    position: static;
  }
}

@media only screen and (max-width: 768px) {
  .select-country {
    width: 200px;
  }
}
@media only screen and (max-width: 590px) {
  .form {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    position: static;
  }
  .select-country {
    width: 310px;
  }
}
