.sign-up-form {
  padding: 30px 30px 15px 20px;
  border-radius: 8px;
  box-shadow: 1px 2px 8px #3232320d;
  background: rgb(255, 255, 255);
}
.title-form {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .sign-up-form {
    padding: 10px;
  }
}
